
body {
    font-family: 'Raleway', sans-serif; /* police */
    font-weight : bold;
    font-size: bormal;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

a
{ 
 text-decoration:none; 
 color: black;
} 

        /* header */
header {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content:center;
    flex-direction: column;
}

header p {
    list-style: none;
    font-weight : normal;
}

header p i {                    /* icone I */
    
    color: #0065FC;
    border: 2px #F2F2F2 solid;
    border-radius: 50px;
    padding-left:6px;
    padding-top: 3px;
    
    height:16px;
    width: 12px;
}

h1     {                                            /* logo booki */
    position: relative;
    display: flex;
    margin-top: 0;
    padding-top: 5px;
    align-items: center;
    justify-content: center;
}          

h1 img {
    width :130px;
    height: auto;
}                                     

                                /*   ancre   */
#ancre {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}
#ancre div {
    padding-top: 40px;
    background-color: white;
    width: 50%;
    height: 60px;
    cursor: pointer;
    border-bottom:4px solid #F2F2F2;
}

#ancre a {
    display: flex;
    justify-content: center;
}

#ancre div:hover  {
    border-bottom-color: #0065FC; 
    color: #0065FC;
}

#ancre a:hover{
     color: #0065FC;
}


                            /*  ancre  */
.soustitres {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.soustitres h2 {
    width: 90%;
    text-align: center;
}
                            /*  bar de recherche  */
#recherche {
    display: flex;
    justify-content: center;
    outline: none;
    height: 40px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}

.champ {
     height: 30px;
    border: 2px solid #F2F2F2;
    outline: none;
   
}

#recherche button  {                   /* icone geolocalisation */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 36px;
    width: 30px;
    border: none;
    outline: none;
    cursor: pointer;
}

 .bouton {                           /*bouton de recherche */
    border-radius: 10px ;
    width: 39px;
    height: 36px;
    padding: 0px;
    margin: 0;
    cursor: pointer;
    background-color: #0065FC;
    color: white;
    border: 2px solid #0065FC;

 }


 .bouton p {
     display: none;
 }
                                   /*  barre de recherche  */
                                    /* barre denavigation */

nav input  { 
    border:white;
 }

nav ul {
    list-style: none;   /* enlever les puces */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    height: 180px;
    flex-wrap: wrap;
}

nav li {                    /* boutons nav */
    margin: 5px 5px 0 5px;
    border: 2px solid #DEEBFF;
    border-radius: 40px;
    cursor: pointer;
    width: auto;
    padding-top: 0px;
    padding-right: 6px;   
}

nav ul div {                /* "filtres" */
    padding-top: 10px;
}

nav ul i {                  /*icones*/
    color:  #0065FC;
    height: 24px;
    width: 24px;
    border: 3px solid #DEEBFF;
    border-radius: 40px;
    background-color: #DEEBFF;
    padding: 7px 0px 0px 7px;
} 
nav li:hover {
    border-color: #0065FC;
    box-shadow: inset 5px 1px 10px #0065FC;
}

nav li:hover i {
    color: white;
    background-color: #0065FC;
    border-color: #0065FC;
}

#familial {
    order: 4;
    margin-top: 30px;
 }

 #animau {
    order: 2;
}
                                    /* barre de navigation */

        /* main */


#logement {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.proposition {
    background-color: white;
    border: 1px solid white;
   border-radius: 20px;
   width: 95%;
}

mark {
    background-color: white;
    font-size: small;
    font-weight: normal;
}

#logement #etoileGrise {
    color: #F2F2F2;
}
.fas.fa-star {
    color: #0065FC;
    font-size: 90%;
}


                                                 /*boite hebergement*/
#hebergement {
    background-color: white;
    border: none;
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 1500px;
    margin-top: 30px;
 
}

#hebergement h2 {
    position: relative;
    top: 5px;
    left: 20px;
}

.vitrine {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    
    flex-wrap: wrap;
    height: 90%;
}


#hebergement .proposition {
    display: flex;
    flex-direction: column;
    height: 195px;
    overflow: hidden;
    padding: 2px 2px;
    margin: 10px;
    padding-right: 0px;
    padding-left: px;
    box-shadow: 0px 5px 5px 0px grey;
}


#hebergement .proposition img {
    width: 99%;
    height: 130px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;

}

#hebergement .proposition p {
                                          /* marge pour les ecritures */
    padding: 2px 15px;
    margin: 0;
}

#hebergement .proposition div {
    padding-left: 15px;
}

.prix {
    font-size: small; 
     font-weight: normal;                 /*ensemble des prix*/
}


 .vitrineLigne {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0;
        padding: 0;
}

                                                  /*boite populaire*/
#populaire {
    position: relative;
    top: 28px;
    display: flex;
    flex-direction: column;
    border: 1px solid #F2F2F2;
    width: 95%;
    height: 530px;
    background-color: #F2F2F2;
    padding: 10px;
    margin: 25px, 25px,25px, 25px;
    

}

#populaire .proposition {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90%;
    height: 140px;
    margin: 2px;
    padding: 4px;
 
}

#populaire p {
        margin-top: 5px;
    width: 150px;
    height:25%;

}

#populaire img {
   border-radius: 20px 0px 0px 20px;
    width: 40%;
    height: 136px;
    object-fit: cover;
}
                                            /* populaire fin*/
                                            /* activite */
#activite{
    background-color: white;
    border: none;
    display: flex;
    flex-direction: column;
    width: 95%;
    height: auto;
    margin-left: 15px;

    
}

#activite h2{
    position: relative;
    top: 10px;
    left: 20px;
    width: 250px;
}

#activite .vitrine {
   background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#activite .vitrine div {
    height: 200px;
    width: 95%;
    margin: 6px;
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: 0px 5px 5px 0px grey;
   
}


#activite img {
    height: 160px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}


.vitrine p {
    padding: 0px;
    margin-top: 2px;
    margin-left: 5px;

}
                                                        /* activite fin */
        /* footer */

footer{
    width: 100%;
    height: 330px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    margin-top: 30px;
}
footer ul{
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
   justify-content: space-around;
   height: 150px;
}

footer li {
    padding: 5px;
    list-style: none;
    font-weight : 400;
    color: black;
}
